<svg:g>
    <!-- Horizontal lines -->
    <line *ngFor="let y of [].constructor(Math.ceil(height/granularity)); let i = index"
          [attr.x1]="0"
          [attr.y1]="i * granularity"
          [attr.x2]="width"
          [attr.y2]="i * granularity"
          stroke="lightgray"
          stroke-width="1"/>
  
    <!-- Vertical lines -->
    <line *ngFor="let x of [].constructor(Math.ceil(width/granularity)); let i = index"
          [attr.x1]="i * granularity"
          [attr.y1]="0"
          [attr.x2]="i * granularity"
          [attr.y2]="height"
          stroke="lightgray"
          stroke-width="1"/>
  </svg:g>
  