<svg:g>
    <!-- Horizontal lines -->
    <ng-container>
      <line *ngFor="let y of [].constructor(Math.floor((maxY-minY)/step) + 1); let i = index"
            [attr.x1]="minX"
            [attr.y1]="minX + i * step"
            [attr.x2]="maxX"
            [attr.y2]="minX + i * step"
            stroke="lightgray"
            stroke-width="1"/>
    </ng-container>
  
    <!-- Vertical lines -->
    <ng-container>
      <line *ngFor="let x of [].constructor(Math.floor((maxX-minX)/step) + 1); let i = index"
            [attr.x1]="minY + i * step"
            [attr.y1]="minY"
            [attr.x2]="minY + i * step"
            [attr.y2]="maxY"
            stroke="lightgray"
            stroke-width="1"/>
    </ng-container>
    </svg:g>
  